:root {
    --accent-color: rgb(244, 151, 2);
    --hover-color: rgb(246, 174, 57);
    --view-btn-color: #2664f6;
    --hover-view-btn-color: #3e75f6;
    --shadow:0 0 20px rgb(0,0,0,0.15);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

body {
    margin: 0% 20%;
}

form {
    text-align: center;
    padding: 30px;
}

form * {
    margin: 10px 5px;
}

form h1 {
    font-size: 3em;
}

form p {
    font-size: 1.3em;
    color: var(--accent-color);
}

form .note-container {
    display: flex;
}

.note-container textarea, .note-container input {
    flex:1;
    border: 2px solid #dddddd;
    padding: 6px 12px;
}

.note-container textarea {
    resize: vertical;
}

.btn-container button {
    background-color: var(--accent-color);
    color: white;
    width: 6rem;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    box-shadow: var(--shadow);

}

.btn-container button:hover {
    background-color: var(--hover-color);
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.notes-container .card {
    padding: 25px;
    box-shadow: var(--shadow);
    border-radius: 6px;
}


.card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.notes-container .card * {
    margin: 10px 0;
}

.btn-view-container button {
    height: 40px;
    width: 150px;
    border-radius: 6px;
    border: none;
    background-color: var(--view-btn-color);
    color: white;
}

.btn-view-container button:hover {
    background-color: var(--hover-view-btn-color);
}